
@{
    ViewBag.Title = "Shop";
}
    <div class="row">
        <h2 class="col-md-4" >Shop</h2>
        <div class="col-md-4" style="margin:20px">
           <label> Category: </label> <select onselect="alert('Hey')" >
                    <option> All</option>
                    <option>Clothes</option>
                    <option> Jeweries</option>
                    <option> Shoes</option>
            </select>
        </div>
    
    </div>


<div class="row" style="border:5px #808080">
    <hr />
    <div class="col-md-4">
        <h2>Item Name</h2>
        <img src="~/Images/376821.jpg" alt="Logo" style="width:350px; height: 200px;" />
    </div>
    <div class="col-md-4">
        <h2>Item Descrption</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Actions</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        
    </div>
    <hr />

</div>

