@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />

</head>
<body>

    <div id="slider">
        <figure>
            <p style="color: white;"> hey</p>

            <img src="~/slider/exx.jpg" >
            <img src="~/slider/exx.jpg" >
            <img src="~/slider/exx.jpg" >
            <img src="~/slider/exx.jpg" >
            <img src="~/slider/de16b782fa853c08baefd4435c9f6eed.jpg" >
        </figure>
    </div>


</body>
</html>
